@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
:root {
  --mo-blue: #0d6efd;
  --mo-indigo: #6610f2;
  --mo-purple: #6f42c1;
  --mo-pink: #d63384;
  --mo-red: #dc3545;
  --mo-orange: #fd7e14;
  --mo-yellow: #ffc107;
  --mo-green: #198754;
  --mo-teal: #20c997;
  --mo-cyan: #0dcaf0;
  --mo-black: #000;
  --mo-white: #fff;
  --mo-gray: #6c757d;
  --mo-gray-dark: #343a40;
  --mo-gray-100: #f8f9fa;
  --mo-gray-200: #e9ecef;
  --mo-gray-300: #dee2e6;
  --mo-gray-400: #ced4da;
  --mo-gray-500: #adb5bd;
  --mo-gray-600: #6c757d;
  --mo-gray-700: #495057;
  --mo-gray-800: #343a40;
  --mo-gray-900: #212529;
  --mo-primary: #0d6efd;
  --mo-secondary: #6c757d;
  --mo-success: #198754;
  --mo-info: #0dcaf0;
  --mo-warning: #ffc107;
  --mo-danger: #dc3545;
  --mo-light: #f8f9fa;
  --mo-dark: #212529;
  --mo-primary-rgb: 13, 110, 253;
  --mo-secondary-rgb: 108, 117, 125;
  --mo-success-rgb: 25, 135, 84;
  --mo-info-rgb: 13, 202, 240;
  --mo-warning-rgb: 255, 193, 7;
  --mo-danger-rgb: 220, 53, 69;
  --mo-light-rgb: 248, 249, 250;
  --mo-dark-rgb: 33, 37, 41;
  --mo-white-rgb: 255, 255, 255;
  --mo-black-rgb: 0, 0, 0;
  --mo-body-color-rgb: 33, 37, 41;
  --mo-body-bg-rgb: 255, 255, 255;
  --mo-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --mo-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --mo-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --mo-body-font-family: var(--mo-font-sans-serif);
  --mo-body-font-size: 1rem;
  --mo-body-font-weight: 400;
  --mo-body-line-height: 1.5;
  --mo-body-color: #212529;
  --mo-body-bg: #fff;
  --mo-border-width: 1px;
  --mo-border-style: solid;
  --mo-border-color: #dee2e6;
  --mo-border-color-translucent: rgba(0, 0, 0, 0.175);
  --mo-border-radius: 0.375rem;
  --mo-border-radius-sm: 0.25rem;
  --mo-border-radius-lg: 0.5rem;
  --mo-border-radius-xl: 1rem;
  --mo-border-radius-2xl: 2rem;
  --mo-border-radius-pill: 50rem;
  --mo-link-color: #0d6efd;
  --mo-link-hover-color: #0a58ca;
  --mo-code-color: #d63384;
  --mo-highlight-bg: #fff3cd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: var(--mo-body-font-family);
  font-size: var(--mo-body-font-size);
  font-weight: var(--mo-body-font-weight);
  line-height: var(--mo-body-line-height);
  color: var(--mo-body-color);
  text-align: var(--mo-body-text-align);
  background-color: var(--mo-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}

h6, h5, h4, h3, h2, h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 0.875em;
}

mark {
  padding: 0.1875em;
  background-color: var(--mo-highlight-bg);
}

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: var(--mo-link-color);
  text-decoration: underline;
}
a:hover {
  color: var(--mo-link-hover-color);
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-family: var(--mo-font-monospace);
  font-size: 1em;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
}
pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

code {
  font-size: 0.875em;
  color: var(--mo-code-color);
  word-wrap: break-word;
}
a > code {
  color: inherit;
}

kbd {
  padding: 0.1875rem 0.375rem;
  font-size: 0.875em;
  color: var(--mo-body-bg);
  background-color: var(--mo-body-color);
  border-radius: 0.25rem;
}
kbd kbd {
  padding: 0;
  font-size: 1em;
}

figure {
  margin: 0 0 1rem;
}

img,
svg {
  vertical-align: middle;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #6c757d;
  text-align: left;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}
select:disabled {
  opacity: 1;
}

[list]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=week]):not([type=time])::-webkit-calendar-picker-indicator {
  display: none !important;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
}
@media (min-width: 1200px) {
  legend {
    font-size: 1.5rem;
  }
}
legend + * {
  clear: left;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

/* rtl:raw:
[type="tel"],
[type="url"],
[type="email"],
[type="number"] {
  direction: ltr;
}
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

::file-selector-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

iframe {
  border: 0;
}

summary {
  display: list-item;
  cursor: pointer;
}

progress {
  vertical-align: baseline;
}

[hidden] {
  display: none !important;
}

.row {
  --mo-gutter-x: 1.5rem;
  --mo-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--mo-gutter-y));
  margin-right: calc(-0.5 * var(--mo-gutter-x));
  margin-left: calc(-0.5 * var(--mo-gutter-x));
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--mo-gutter-x) * 0.5);
  padding-left: calc(var(--mo-gutter-x) * 0.5);
  margin-top: var(--mo-gutter-y);
}

.col {
  flex: 1 0 0%;
}

.row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-1 {
  margin-left: 8.33333333%;
}

.offset-2 {
  margin-left: 16.66666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333333%;
}

.offset-5 {
  margin-left: 41.66666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.33333333%;
}

.offset-8 {
  margin-left: 66.66666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.33333333%;
}

.offset-11 {
  margin-left: 91.66666667%;
}

.g-0,
.gx-0 {
  --mo-gutter-x: 0;
}

.g-0,
.gy-0 {
  --mo-gutter-y: 0;
}

.g-1,
.gx-1 {
  --mo-gutter-x: 0.25rem;
}

.g-1,
.gy-1 {
  --mo-gutter-y: 0.25rem;
}

.g-2,
.gx-2 {
  --mo-gutter-x: 0.5rem;
}

.g-2,
.gy-2 {
  --mo-gutter-y: 0.5rem;
}

.g-3,
.gx-3 {
  --mo-gutter-x: 1rem;
}

.g-3,
.gy-3 {
  --mo-gutter-y: 1rem;
}

.g-4,
.gx-4 {
  --mo-gutter-x: 1.5rem;
}

.g-4,
.gy-4 {
  --mo-gutter-y: 1.5rem;
}

.g-5,
.gx-5 {
  --mo-gutter-x: 3rem;
}

.g-5,
.gy-5 {
  --mo-gutter-y: 3rem;
}

@media (min-width: 576px) {
  .col-sm {
    flex: 1 0 0%;
  }
  .row-cols-sm-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.33333333%;
  }
  .offset-sm-2 {
    margin-left: 16.66666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.33333333%;
  }
  .offset-sm-5 {
    margin-left: 41.66666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.33333333%;
  }
  .offset-sm-8 {
    margin-left: 66.66666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.33333333%;
  }
  .offset-sm-11 {
    margin-left: 91.66666667%;
  }
  .g-sm-0,
.gx-sm-0 {
    --mo-gutter-x: 0;
  }
  .g-sm-0,
.gy-sm-0 {
    --mo-gutter-y: 0;
  }
  .g-sm-1,
.gx-sm-1 {
    --mo-gutter-x: 0.25rem;
  }
  .g-sm-1,
.gy-sm-1 {
    --mo-gutter-y: 0.25rem;
  }
  .g-sm-2,
.gx-sm-2 {
    --mo-gutter-x: 0.5rem;
  }
  .g-sm-2,
.gy-sm-2 {
    --mo-gutter-y: 0.5rem;
  }
  .g-sm-3,
.gx-sm-3 {
    --mo-gutter-x: 1rem;
  }
  .g-sm-3,
.gy-sm-3 {
    --mo-gutter-y: 1rem;
  }
  .g-sm-4,
.gx-sm-4 {
    --mo-gutter-x: 1.5rem;
  }
  .g-sm-4,
.gy-sm-4 {
    --mo-gutter-y: 1.5rem;
  }
  .g-sm-5,
.gx-sm-5 {
    --mo-gutter-x: 3rem;
  }
  .g-sm-5,
.gy-sm-5 {
    --mo-gutter-y: 3rem;
  }
}
@media (min-width: 768px) {
  .col-md {
    flex: 1 0 0%;
  }
  .row-cols-md-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.33333333%;
  }
  .offset-md-2 {
    margin-left: 16.66666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.33333333%;
  }
  .offset-md-5 {
    margin-left: 41.66666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.33333333%;
  }
  .offset-md-8 {
    margin-left: 66.66666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.33333333%;
  }
  .offset-md-11 {
    margin-left: 91.66666667%;
  }
  .g-md-0,
.gx-md-0 {
    --mo-gutter-x: 0;
  }
  .g-md-0,
.gy-md-0 {
    --mo-gutter-y: 0;
  }
  .g-md-1,
.gx-md-1 {
    --mo-gutter-x: 0.25rem;
  }
  .g-md-1,
.gy-md-1 {
    --mo-gutter-y: 0.25rem;
  }
  .g-md-2,
.gx-md-2 {
    --mo-gutter-x: 0.5rem;
  }
  .g-md-2,
.gy-md-2 {
    --mo-gutter-y: 0.5rem;
  }
  .g-md-3,
.gx-md-3 {
    --mo-gutter-x: 1rem;
  }
  .g-md-3,
.gy-md-3 {
    --mo-gutter-y: 1rem;
  }
  .g-md-4,
.gx-md-4 {
    --mo-gutter-x: 1.5rem;
  }
  .g-md-4,
.gy-md-4 {
    --mo-gutter-y: 1.5rem;
  }
  .g-md-5,
.gx-md-5 {
    --mo-gutter-x: 3rem;
  }
  .g-md-5,
.gy-md-5 {
    --mo-gutter-y: 3rem;
  }
}
@media (min-width: 992px) {
  .col-lg {
    flex: 1 0 0%;
  }
  .row-cols-lg-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.33333333%;
  }
  .offset-lg-2 {
    margin-left: 16.66666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.33333333%;
  }
  .offset-lg-5 {
    margin-left: 41.66666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.33333333%;
  }
  .offset-lg-8 {
    margin-left: 66.66666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.33333333%;
  }
  .offset-lg-11 {
    margin-left: 91.66666667%;
  }
  .g-lg-0,
.gx-lg-0 {
    --mo-gutter-x: 0;
  }
  .g-lg-0,
.gy-lg-0 {
    --mo-gutter-y: 0;
  }
  .g-lg-1,
.gx-lg-1 {
    --mo-gutter-x: 0.25rem;
  }
  .g-lg-1,
.gy-lg-1 {
    --mo-gutter-y: 0.25rem;
  }
  .g-lg-2,
.gx-lg-2 {
    --mo-gutter-x: 0.5rem;
  }
  .g-lg-2,
.gy-lg-2 {
    --mo-gutter-y: 0.5rem;
  }
  .g-lg-3,
.gx-lg-3 {
    --mo-gutter-x: 1rem;
  }
  .g-lg-3,
.gy-lg-3 {
    --mo-gutter-y: 1rem;
  }
  .g-lg-4,
.gx-lg-4 {
    --mo-gutter-x: 1.5rem;
  }
  .g-lg-4,
.gy-lg-4 {
    --mo-gutter-y: 1.5rem;
  }
  .g-lg-5,
.gx-lg-5 {
    --mo-gutter-x: 3rem;
  }
  .g-lg-5,
.gy-lg-5 {
    --mo-gutter-y: 3rem;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    flex: 1 0 0%;
  }
  .row-cols-xl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.33333333%;
  }
  .offset-xl-2 {
    margin-left: 16.66666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.33333333%;
  }
  .offset-xl-5 {
    margin-left: 41.66666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.33333333%;
  }
  .offset-xl-8 {
    margin-left: 66.66666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.33333333%;
  }
  .offset-xl-11 {
    margin-left: 91.66666667%;
  }
  .g-xl-0,
.gx-xl-0 {
    --mo-gutter-x: 0;
  }
  .g-xl-0,
.gy-xl-0 {
    --mo-gutter-y: 0;
  }
  .g-xl-1,
.gx-xl-1 {
    --mo-gutter-x: 0.25rem;
  }
  .g-xl-1,
.gy-xl-1 {
    --mo-gutter-y: 0.25rem;
  }
  .g-xl-2,
.gx-xl-2 {
    --mo-gutter-x: 0.5rem;
  }
  .g-xl-2,
.gy-xl-2 {
    --mo-gutter-y: 0.5rem;
  }
  .g-xl-3,
.gx-xl-3 {
    --mo-gutter-x: 1rem;
  }
  .g-xl-3,
.gy-xl-3 {
    --mo-gutter-y: 1rem;
  }
  .g-xl-4,
.gx-xl-4 {
    --mo-gutter-x: 1.5rem;
  }
  .g-xl-4,
.gy-xl-4 {
    --mo-gutter-y: 1.5rem;
  }
  .g-xl-5,
.gx-xl-5 {
    --mo-gutter-x: 3rem;
  }
  .g-xl-5,
.gy-xl-5 {
    --mo-gutter-y: 3rem;
  }
}
@media (min-width: 1400px) {
  .col-xxl {
    flex: 1 0 0%;
  }
  .row-cols-xxl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.33333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.66666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.33333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.66666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.33333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.66666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.33333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.66666667%;
  }
  .g-xxl-0,
.gx-xxl-0 {
    --mo-gutter-x: 0;
  }
  .g-xxl-0,
.gy-xxl-0 {
    --mo-gutter-y: 0;
  }
  .g-xxl-1,
.gx-xxl-1 {
    --mo-gutter-x: 0.25rem;
  }
  .g-xxl-1,
.gy-xxl-1 {
    --mo-gutter-y: 0.25rem;
  }
  .g-xxl-2,
.gx-xxl-2 {
    --mo-gutter-x: 0.5rem;
  }
  .g-xxl-2,
.gy-xxl-2 {
    --mo-gutter-y: 0.5rem;
  }
  .g-xxl-3,
.gx-xxl-3 {
    --mo-gutter-x: 1rem;
  }
  .g-xxl-3,
.gy-xxl-3 {
    --mo-gutter-y: 1rem;
  }
  .g-xxl-4,
.gx-xxl-4 {
    --mo-gutter-x: 1.5rem;
  }
  .g-xxl-4,
.gy-xxl-4 {
    --mo-gutter-y: 1.5rem;
  }
  .g-xxl-5,
.gx-xxl-5 {
    --mo-gutter-x: 3rem;
  }
  .g-xxl-5,
.gy-xxl-5 {
    --mo-gutter-y: 3rem;
  }
}
:root {
  --swiper-theme-color: #e40000;
}

body {
  background: url("../assets/bg.jpg");
  background-size: 18%;
}

a {
  transition: ease-in-out 0.2s;
  text-decoration: none;
}
a:hover {
  color: #F80000;
}

h2 {
  color: #1f1f1f;
  text-align: center;
  font-weight: 700;
  font-size: 44px;
  line-height: 120px;
  font-family: "Raleway", sans-serif;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.7098039216);
  font-family: "Raleway", sans-serif;
}

li, .link-button {
  font-family: "Raleway", sans-serif;
}

iframe {
  width: 100% !important;
  border-radius: 5px;
}

hr {
  border-color: #808080;
}

.container {
  width: 1170px;
  margin: auto;
}

header {
  min-width: 100%;
  position: absolute;
  background: #F8F8F8;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 5;
}
header .logo {
  float: left;
  height: 70px;
  margin: 15px 0;
}
header nav {
  margin: auto;
}
header .menu-col {
  display: flex;
}
header ul {
  margin-top: 0;
  margin-bottom: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  display: flex;
  font-size: 26px;
  line-height: 31px;
  gap: 25px;
}
header a {
  margin-top: auto;
  margin-bottom: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: rgba(0, 0, 0, 0.7019607843);
}
header .link-button {
  font-size: 20px;
  line-height: 23px;
  background: linear-gradient(180deg, #EE0000 0%, rgba(242, 0, 58, 0.5) 100%);
  box-shadow: 0px 0px 7px rgba(242, 0, 58, 0.25);
  border-radius: 75px;
  color: white;
  padding: 11px 27px;
  border: none;
  margin-left: 7px;
}
header .header-buttons {
  display: flex;
  gap: 5px;
  margin: auto 0 auto auto;
}
header .header-buttons img {
  width: 40px;
}

.swiper {
  width: 100%;
  height: calc(87vh - 100px);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper .annot {
  top: 7%;
  left: 3%;
  border-radius: 3px;
  position: absolute;
  background: rgba(235, 235, 235, 0.8784313725);
  padding: 10px 28px;
  box-shadow: 4px 4px 14px 0px rgba(34, 60, 80, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.swiper .annot p {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 18pt;
  color: #222222;
}
.swiper .callme {
  left: 50%;
  transform: translate(-50%);
  bottom: 7%;
  font-size: 19px;
  padding: 10px 25px;
  z-index: 5;
  position: absolute;
  font-family: "Raleway", sans-serif;
  color: #E7E7E7;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: linear-gradient(97.69deg, #C10000 0%, #E90000 100%);
  border-radius: 36px;
  border: none;
}
.swiper .callme i {
  color: #E7E7E7;
  padding-right: 7px;
}

main p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 150%;
  text-align: justify;
}
main .cams {
  background: none;
}
main .cams iframe {
  max-height: 324px;
}
main .cams a {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 250%;
  color: #525252;
}
main .cams a:hover {
  color: #F80000;
}
main .cards .card {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-bottom: 35px;
  background: #F8F8F8;
}
main .cards .card button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(180deg, rgba(204, 0, 0, 0.76) 0%, rgba(204, 0, 0, 0.67) 0.01%, rgba(163, 0, 78, 0.83) 100%);
  box-shadow: 0px 0px 6px rgba(163, 0, 78, 0.5);
  border-radius: 40px;
  border: none;
  color: white;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  padding: 8px 25px;
}
main .cards img {
  border-radius: 20px;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
}
main .cards h3 {
  margin-top: 15px;
  text-align: center;
}
main .cards p {
  font-weight: 400;
  font-size: 17px;
  line-height: 150.69%;
  padding: 5px 20px;
}
main .contacts {
  display: flex;
  flex-direction: column;
}
main .contacts p {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
}

footer {
  padding: 25px 0;
  background: linear-gradient(180deg, #2E2E2E 100%, #1E1E1E 100%);
}
footer .icons {
  vertical-align: middle;
  display: flex;
  gap: 20px;
  font-size: 25px;
}
footer .icons .edicons {
  font-size: 22px;
}
footer .icons .emicons {
  font-size: 24px;
}
footer .icons a {
  color: white;
}
footer .container {
  display: flex;
  justify-content: space-between;
}
footer .container .footer-tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  margin-left: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
footer .container .footer-tel a {
  line-height: 25px;
  color: white;
}
footer .container .footer-tel a:hover {
  color: #F80000;
}
footer p {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  padding-top: 15px;
}/*# sourceMappingURL=style.css.map */